<p>administrador works!</p>
<!--Comienzo del nav -->
<nav class="navbar navbar-expand-lg bg-primary">  
    <div class="container-fluid">
        <img src="assets/images/AP-YoProgramoLogo.png" alt="LogoArgentinaPrograma " width="12%" height="">
        <h1>Página de Edición</h1>
        <!--Button trigger modal. Este boton llama al Modal -->
        <i class="fa-solid fa-user" type="button">Salir</i>
    </div>
</nav><!--Fin del nav-->

  <div class="container-fluid text-center">
<!--Sidebar de administracion (primera columna del grid):-->
    <div class="row">
      <div class="col-2">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-acerca" type="button" role="tab">Acerca de mi:</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-redes" type="button" role="tab" >Mis Redes</button>
            <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-experiencia" type="button" role="tab">Experiencia</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-educacion" type="button" role="tab">Educacion</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-habilidades" type="button" role="tab">Habilidades</button>
            <button class="nav-link" id="v-pills-proyectos-tab" data-bs-toggle="pill" data-bs-target="#v-pills-proyectos" type="button" role="tab">Proyectos</button>
          </div>
        </div>
      </div>
   
      <!--segunda columna del grid con los formularios:-->
      <!--Acerca de mi-->
      <div class="col-9 tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-acerca" role="tabpanel" tabindex="0">
          <h4 class="text center">Acerca de mi</h4>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Acerca de mi</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Foto de Perfil</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Título</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Banner</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="col-1">
            <!--columna vacia-->
          </div>
        </div>
          
        <!--Mis redes-->
        <div class="tab-pane fade" id="v-pills-redes" role="tabpanel" tabindex="0">
          <h4 class="text center">Mis Redes</h4>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">URL Red</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">URL Red</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">URL Red</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">URL Red</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>   
          <div class="col-1">
            <!--columna vacia-->
          </div>
        </div>

        <!--Experiencia-->
        <div class="tab-pane fade" id="v-pills-experiencia" role="tabpanel"  tabindex="0">
          <h4 class="text center">Experiencia</h4>
           <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Logo empresa</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
           <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Puesto</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
           <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Periodo</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
           <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Actividad Desarrollada</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="col-1">
            <!--columna vacia-->
          </div>
        </div>

        <!--Educacion-->
        <div class="tab-pane fade" id="v-pills-educacion" role="tabpanel" tabindex="0">
           <h4 class="text center">Educación</h4>
           <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Logo Instituto</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div> 
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Estudios Cursados</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div> 
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Periodo</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="mb-3"> 
            <label for="formFileSm" class="form-label">Comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          <div class="col-1">
            <!--columna vacia-->
          </div>
        </div>
        
        <!--Habilidades-->
        <div class="tab-pane fade" id="v-pills-habilidades" role="tabpanel" tabindex="0">
            <h4 class="text center">Habilidades</h4>
            <div class="mb-3">
              <label for="formFileSm" class="form-label">Habilidad</label>
              <input class="form-control form-control-sm" id="formFileSm" type="text">
              <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
            <div class="mb-3">
              <label for="formFileSm" class="form-label">Porcentaje</label>
              <input class="form-control form-control-sm" id="formFileSm" type="text">
              <button type="button" class="btn btn-primary">Confirmar</button>
            </div>
            <div class="col-1">
              <!--columna vacia-->
            </div>
        </div>

        <!--Proyectos-->
        <div class="tab-pane fade" id="v-pills-proyectos" role="tabpanel" tabindex="0"><h4 class="text center">Proyectos</h4>
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Nombre</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div><div class="mb-3">
            <label for="formFileSm" class="form-label">Periodo</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div><div class="mb-3">
            <label for="formFileSm" class="form-label">Descripcion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div><div class="mb-3">
            <label for="formFileSm" class="form-label">Link</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
            <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
        <div class="col-1">
            <!--columna vacia-->
        </div>
      </div>
    </div>
  </div>
