/* You can add global styles to this file, and also import other style files */
/*Estilo general del body*/
body{
    margin-right: 5 rem;
    padding: 0.25%;
    background-color: #ccc;
 }

 #Acerca-de-mi, #experiencia, #educacion, #Proyectos  {   
    border:2px solid  #555f;
    background-color: #bbb;
 }