
<div class="row">
    <div class="col-sm-3 text-center">
      <!--columna separadora margen izquierdo vacia de ancho 3-->
      
    </div>
    <div class="col-6 borde" >
      <h4 class="text center"><i>Proyectos</i></h4>
      <form [formGroup]= "form"  (ngSubmit)= "onEnviar($event)">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" formControlName="nombre" [class.border-danger]= "NombreInvalid">
          <div *ngIf="Nombre?.errors && Nombre?.touched">    
            <p *ngIf="Nombre?.hasError('required')" class="error">¡El campo es obligatorio!</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="link" class="form-label">Link:</label>
          <input type="url" class="form-control" formControlName="link" [class.border-danger]="LinkInvalid"  >
          <div *ngIf="Link?.errors && Link?.touched">    
            <p *ngIf="Link?.hasError('required')" class="error">¡El campo es obligatorio!</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="periodo" class="form-label">Período:</label>
          <input type="text" class="form-control"formControlName="periodo" [class.border-danger]="PeriodoInvalid"  >
          <div *ngIf="Periodo?.errors && Periodo?.touched">    
            <p *ngIf="Periodo?.hasError('required')" class="error">¡El campo es obligatorio!</p>
          </div>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" spellcheck="false" formControlName="descripcion" [class.border-danger]= "DescripcionInvalid"></textarea>
            <div *ngIf="Descripcion?.errors  && Descripcion?.touched">    
              <p *ngIf="Descripcion?.hasError('required')" class="error">¡El campo es obligatorio!</p>
              <p *ngIf= "Descripcion?.hasError('maxlength')" class="error">¡El máximo admitido son 500 caracteres!</p>
            </div>
        </div>
  
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </form>
    </div>
    <div class="col-sm-3">
      <!--columna vacia de ancho 3-->
    </div>
  </div>
  
   


