#Acerca-de-mi {   
    border:2px solid  #555f;
    background-color: #bbb;
}  
  
/* imagen perfil*/
.rounded-circle {  
    position: relative;
    margin-top: -5rem;
    border:2px solid  #555f;
    box-shadow: 6px 6px 5px 2px rgb(46, 44, 44);
   /* z-index: -1*/
} 

