     <!--Comienzo cabecera modal nav-->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!--El boton"X"-->
            </div>
         <!--comienzo cuerpo Modal-->
          <div class="modal-body">
             <div class="mb-3 row"><!--Linea de ingreso de Usuario-->
              <label for="staticEmail" class="col-sm-2 col-form-label">Usuario:</label><!--Etiqueta que dice e-mail-->
               <div class="col-sm-10">
                 <input type="text" class="form-control-plaintext" id="staticEmail" value="email@ejemplo.com"><!--imput del e-mail-->
               </div>
           </div>
           <div class="mb-3 row"><!--Linea de ingreso de contraseña-->
              <label for="inputPassword" class="col-sm-3 col-form-label">Contraseña:</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword"><!--Imput de la contraseña-->
                </div>
           </div>
          </div>
         <div class="modal-footer"><!--Empieza footer del Modal-->
            <button type="button" class="btn btn-primary">Inicio de sesion</button>
          </div>
        </div>
       </div>
    </div><!--Fin del Modal-->

   
